
body{
  padding: 0;
  margin: 0;
}
p{
  color: #464159;
  font-family: Montserrat;
  line-height: 1.5;
  max-width: 30em;
  text-align: justify;
  margin: 1em;
}
h1{
  color: #464159;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
}
hr{
  width: 5%;
  border-style: dotted none none;
  border-width: 10px;
  border-color: #6c7b95;
  opacity: 0.3;
}
.center{
  margin: auto;
  display: inline-block;
}
.leftInfo{
  margin-left: 25%;
  display: inline-block;
}
.rightInfo{
  width: 100%;
  display: inline-block;
}
.infoContentRight{
  float: right;
  overflow: hidden;
  margin-right: 20%;
}
.img_top{
  width: 100%;
  height: auto;
}

textarea{
  resize: none;
}
.infoContent{
  overflow: hidden;
}
img{
  height: 577px;
  margin: none 20%;
}

/** Navigation Bar **/
.navUl{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-right: 10em;
}
.navDiv li{
  float: right;
}
li a{
  padding: 2em;
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  color: #464159;
}
li a:hover{
  color: #6c7b95;
}
